.login-div {
    background-color: #503D88;
    color: #f1f1f1;
    width: 30%;
    min-height: 150px;
    margin: 10% auto;
    padding: 25px;
    font: 16px/120% 'Cutive Mono', monospace;
    border-radius: 10px; 
}

.login-text {
    font: 50px/100% 'Yellowtail';
    color: #36DEDE;
    text-shadow: 1px 1px #ff3094,
                 -1px 1px #ff3094,
                 1px -1px #ff3094,
                 -1px -1px #ff3094,
                 4px 4px #7f0eef;
    margin-bottom: 30px; 
}

.form-div {
    padding-top: 20px;
    width: 400px;
    margin: 20px auto 20px auto;
}

.form-control:focus {
    background-color: #212121;
    border: 0;
    outline: 0;
    border-bottom: 5px solid #7f0eef;
}

input[type=text] {
    border: 0;
    outline: 0;
    border-bottom: 5px solid #ff3094;
    color: #fff;
    background-color: #212121;
    padding: 10px 30px;
    border-radius: 30px; 
    margin-bottom: 10px; 
    max-width: 45%; 
}

input[type=password] {
    border: 0;
    outline: 0;
    border-bottom: 5px solid #36dede; 
    color: #fff;
    background-color: #212121;
    padding: 10px 30px;
    border-radius: 30px; 
    margin-bottom: 10px; 
    max-width: 45%; 
}

.submit-btn {
    border: 0;
    outline: 0;
    border-bottom: 5px solid #7f0eef;
    color: #fff;
    background-color: #212121;
    padding: 5px !important;
    border-radius: 30px; 
    margin: 20px auto !important;
    max-width: 45%;
}