.story-container {
    width: 100%;
    padding: 50px; 
    border: 5px solid green;
    box-sizing: border-box;
    margin-top: 5% auto;
}

.story-div {
    background-color: black;
    color: #b34180;
    border: 5px solid #b34180;
    border-image-source: url('../../assets/images/computer2.png');
    border-image-slice:84 96 318 96;
    border-image-width:11% 11% 30% 11%;
    border-image-outset: 1em 1em 3em 1em;
    border-image-repeat: stretch stretch;
    max-width: 934px;
    max-height: 946px;
    padding: 10px;
    margin: 15% auto;
}

/* .monitor-div{
    margin: 55px auto 55px -125px;
    background-image: url('../../assets/images/computer2.png');
    background-size: cover; 
    max-width: 934px;
    max-height: 946px; 
    position: absolute;
    top: 55px;
} */

.choice-div {
    padding-top: 20px;
    width: 300px;
    margin: 15px auto 0 auto;
}