.story-div {
    background-color: #503D88;
    color: #f1f1f1;
    width: 40%;
    min-height: 250px;
    margin: 10% auto;
    padding: 45px;
    font: 19px/140% 'Cutive Mono', monospace;
    border-radius: 10px;
}

.storyImg {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0px 20px 0px;
}

#plotTitle {
    font: 50px/100% 'Yellowtail';
    color: #36DEDE;
    text-shadow: 1px 1px #ff3094,
        -1px 1px #ff3094,
        1px -1px #ff3094,
        -1px -1px #ff3094,
        4px 4px #7f0eef;
    margin-bottom: 30px;
}

#plotContent {
    color: #f1f1f1;
}

.choice-div {
    padding-top: 20px;
    width: 100%;
    margin: 15px auto 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}

.userChoice-btn {
    border: 0;
    outline: 0;
    border-bottom: 5px solid #ff3094;
    color: #fff;
    background-color: #212121;
    padding: 10px 30px;
    border-radius: 30px;
    margin-bottom: 10px;
    max-width: 45%;
}

.userChoice-btn:nth-child(even) {
    border-bottom: 5px solid #36dede;
}

.whiteSpace {
    white-space: pre-line;
    vertical-align: bottom;
}