.story-div {
    background-color: black;
    color: #b34180;
    border: 5px solid #b34180;
    width: 50%;
    height: 450px;
    margin-left: 25%;
    margin-top: 10%;
    padding: 25px;
}

.choice-div {
    padding-top: 20px;
    width: 300px;
    margin: 15px auto 0 auto;
}

.userChoice-btn {
    border: 5px solid #b34180;
    color: #fff;
    background-color: #b34180;
    padding: 10px 20px 10px 20px;
}