.story-div {
    background-color: black;
    color: #b34180;
    border: 5px solid #b34180;
    width: 50%;
    height: 450px;
    margin-left: 25%;
    margin-top: 10%;
    padding: 25px;
}

.choice-div {
    padding-top: 20px;
    width: 300px;
    margin: 15px auto 0 auto;
}

