.login-div {
    background-color: #503D88;
    color: #f1f1f1;
    width: 50%;
    min-height: 450px;
    margin-left: 25%;
    margin-top: 10%;
    padding: 25px;
    font: 16px/120% 'Cutive Mono', monospace;
}

.form-div {
    padding-top: 20px;
    width: 400px;
    margin: 20px auto 20px auto;
}

.submit-btn {
    border: 5px solid #b34180;
    color: #fff;
    background-color: #b34180;
}