@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Yellowtail&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('./images/main_bg.jpg'); 
    background-size: cover; 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    margin: 0;
    padding: 0;
}